@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@font-face {
  font-family: "battle_royale";
  src: url("BATTLE ROYALE FONT.woff2")
  format("woff2");
}
/* ===== Global Styles ===== */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  max-width: 365px;
  max-height: 680px;
  min-width: 365px;
  min-height: 680px;
}

/* ===== Canvas ===== */
#GameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(105, 90%, 22%, 1);
}

/* ===== Layout (Main Menu & Settings) ===== */
.Mainmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.settings {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

.Maingame{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 225px;
  right: 115px;
}

.hidden {
  display: none;
}

/* ===== Text ===== */
#tittle {
  margin: 0 0 10px 0;
  font-size: 2.8em;
  font-family: "battle_royale", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: yellow;
  text-shadow: 3px 3px 5px red;
}

.text {
  position: relative;
  margin: 0;
  padding: 0;
}

#entities{
  position: relative;
  font-size: 1.5em;
}

#GameOver {
  position: relative;
  top: 25vh;
  font-family: "battle_royale", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: yellow;
  text-shadow: 3px 3px 5px red;
  display: none;
}

/* ===== Buttons ===== */
button {
  background-color: hsla(37, 100%, 50%, 1);
  color: black;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

#play {
  position: relative;
  margin-bottom: 15px;
}

#Settings {
  position: relative;
}

#exit {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px;
  border-radius: 4px;
  font-size: 18px;
}

#output {
  display: inline;
  margin-left: 10px;
  font-size: 1.5em;
}

label {
  margin-bottom: 5px;
}

/* ===== Input ===== */
#volume {
  position: relative;
  top: 4px;
  margin-top: 20px;
  margin-left: 10px;
}

/*===== Switch ===== */
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 25px;
  position: absolute;
  top: 65px;
  right: 20px;
}

.check {
  opacity: 0;
}

.slider {
  position: absolute;
  background-color: darkslategray;
  width: 55px;
  height: 25px;
  border-radius: 20px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: blue;
  width: 23px;
  height: 25px;
  transition: .8s;
}

.check:checked + .slider {
  background-color: darkgreen;
}

.check:checked + .slider:before {
  transform: translateX(32px);
  background-color: cyan;
}